# === Node build output ===
**/dist/
**/node_modules/
**/build/

# === Logs ===
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# === dotenv files ===
.env
.env.*.local

# === IDEs and editors ===
.idea/
.vscode/
*.sublime-workspace

# === OS files ===
.DS_Store
Thumbs.db

# === Tests ===
coverage/
.nyc_output/

# === Prisma generated ===
**/prisma/generated/

# === Next.js ===
.next/
out/
coverage/